{{if or .EnableOpenIDSignIn .EnableSSPI}}
	<nav class="navbar navbar-expand navbar-light" style="justify-content: center;">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="{{if .PageIsLogin}}active{{end}} nav-link" rel="nofollow" href="{{AppSubUrl}}/user/login">
					{{.i18n.Tr "auth.login_userpass"}}
				</a>
			</li>
			{{if .EnableOpenIDSignIn}}
				<li class="item">
					<a class="{{if .PageIsLoginOpenID}}active{{end}} nav-link" rel="nofollow"
						 href="{{AppSubUrl}}/user/login/openid">
						<i class="fa fa-openid"></i>
						OpenID
					</a>
				</li>
			{{end}}
			{{if .EnableSSPI}}
				<li class="nav-item">
					<a class="nav-link" rel="nofollow" href="{{AppSubUrl}}/user/login?auth_with_sspi=1">
						<i class="fa fa-windows"></i>
						SSPI
					</a>
				</li>
			{{end}}
		</ul>
	</nav>
{{end}}
