{{template "base/head" .}}
<div class="container">
	<div class="row">
		<div class="col-12" style="text-align: center;">
			<img style="max-width: 220px;" src="{{StaticUrlPrefix}}/img/gitea-lg.png" />
			<h1>
				{{AppName}}
			</h1>
			<h2>{{.i18n.Tr "startpage.app_desc"}}</h2>
		</div>
		<div class="col-md-6 col-sm-12 text-center p-4">
			<i class="fab fa-discord fa-3x"></i>
			<h1 style="font-size: 24px;">TITLE</h1>
			<h2 style="font-size: 20px;">DESCRIPTION</h2>
		</div>
		<div class="col-md-6 col-sm-12 text-center p-4">
			<i class="fab fa-google fa-3x"></i>
			<h1 style="font-size: 24px;">TITLE</h1>
			<h2 style="font-size: 20px;">DESCRIPTION</h2>
		</div>
		<div class="col-md-6 col-sm-12 text-center p-4">
			<i class="fab fa-github fa-3x"></i>
			<h1 style="font-size: 24px;">TITLE</h1>
			<h2 style="font-size: 20px;">DESCRIPTION</h2>
		</div>
		<div class="col-md-6 col-sm-12 text-center p-4">
			<i class="fab fa-facebook fa-3x"></i>
			<h1 style="font-size: 24px;">TITLE</h1>
			<h2 style="font-size: 20px;">DESCRIPTION</h2>
		</div>
	</div>
</div>
{{template "base/footer" .}}
